* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}
 
html,
body {
  background-color: #F2EAD0;
  color: #260101;
  font: 300 18px/1.5 lato, "Helvetica Neue", Helvetica, sans-serif;
}

/*
=================
typography
=================
*/

h1 {
  color: #F27405;
  font-size: 4rem;
  text-shadow: 2px 1px #367356;
  line-height: 1;

  margin: .6rem 0;
}

h2 {
  font-size: 1.7rem;
  color: #8C2703;
  font-weight: 500;
  text-align: center;
}

h3 {
  color: #260101;
  font-size: 1.4rem;
  font-weight: 500;
  text-transform: uppercase;
}

small {
  display: inline-block;
  margin-bottom: .7rem;
}

h4 {
  font-size: 1.2rem;
  margin-bottom: .7rem;
}

h5 {
  font-size: 1rem;
  margin-bottom: .7rem;
}

legend {
  font-size: .9rem;
  color: #8C2703;
  font-weight: 400;
}

header #nav-bar {
  background-color: #F2EAD0;
  position: fixed;
  overflow: hidden;
  top: 0;
  display: flex;
  justify-content: space-around;
  width: 100%;
  z-index: 999;
  } 

  .logo {
    padding-top: 1rem;
  } 
  
  .logo img {
    width: 130px;
  } 

  #nav-bar ul {
    font-size: 1rem;
    font-weight: 600;
    text-transform: uppercase;
    
  }

  li a {
    display: block;
    color: #8C2703;
    border-top: 2px solid #367356;
    min-width: 80px;
    text-align: center;
    padding-top: .1rem;;
  }  

  ul:last-child {
    border-bottom: 2px solid #367356;
  }

  ul li a:hover {
    border-radius: 3px;
    background: #8C2703;
    color: #F2EAD0;
    transition: .6s;
    cursor: pointer;
  }

  .container {
    margin-top: 160px;
  }

  section {
    text-align: center;
    margin: .3rem;
    padding: 1rem;
  }  

/* ===== home ===== */

#home {
  text-align: center;
}

fieldset {
  border: none;
}

#email {
  border: 1px solid #260101;
  background-color: #F27405;
  border-radius: 4px;
  width: 80%;
  margin: 10px auto 0;
  padding: 12px;
  text-align: center;
}

form label input::placeholder {
  color: #F2EAD0;
  font-weight: 600;
  letter-spacing: 1px;
}

#email:hover {
  background-color: #68A69B;
}

.btn input[type="submit"] {
  border: 1px solid #260101;
  background-color: #68A69B;
  border-radius: 4px;
  font-size: 18px;
  max-width: 100px;
  margin-top: 10px;
  padding: 8px 18px;
}

.btn input[type="submit"]:hover {
  background-color: #F27405;
  color: #F2EAD0;
}

/* ===== ABOUT ===== */

#co-info > div {
  position: relative;
  border: 1px solid #F27405;
  border-radius: 6px;
  padding: .5rem;
  margin: .5rem;
}

#co-info > div p {
 text-align: justify;
 margin-bottom: .7rem;
}

#co-info a {
  background-color: #F27405;
  border-radius: 4px;
  color: #F2EAD0;
  font-size: 16px;
  font-weight: 600;
  padding: 3px;
  margin-top: 10px;
  text-transform: uppercase;
}

#co-info a:hover {
  background-color: #68A69B;
}

/* ===== PRICING ===== */

#pricing {
  text-align: center;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

#pricing div {
  border: 1px solid #8C2703;
  border-radius: 4px;
  padding: .5rem;
  margin: 1rem;
  min-width: 240px;
}

#pricing ul,
#contact ul {
  border: none;
}

#pricing .heading {
  background-color: #F27405;
  font-weight: 500;
  font-size: 1.2rem;
  text-transform: uppercase;
}

.cost {
  background-color: #68A69B;
  font-weight: 400;
  font-size: 18px;
  padding: 8px;
}

.cost > .btn {
  background-color: #F27405;
  border-radius: 4px;
  border: 1px solid #F2EAD0;
  color: #F2EAD0;
  padding: 2px 18px;
}

.cost > .btn:hover {
  background-color: #F2EAD0;
  border: 1px solid #F27405;
  color: #F27405;
}

/*=====video=====*/

#daily-video iframe {
  max-width: 100%;
  max-height: auto; 
  border-radius: 6px;
  }

/*===== contact =====*/

#contact h2 {
  color: #F27405;
  font-size: 3rem;
  line-height: 1;
  text-shadow: 2px 1px #367356;
}

#contact li {
  font-size: 1.2rem;
  border: none;
}

.email {
  color: #367356;
  font-weight: 400;
}

/* ===== LARGE screen MQ ===== */

@media only screen and (min-width: 840px) {

  html,
  body {
    background-color: #F2EAD0;
    color: #260101;
    font: 300 22px/1.5 lato, "Helvetica Neue", Helvetica, sans-serif;
  }

  h1 {
    line-height: 1.5;
  }

  #nav-bar {
    margin-left: 0.8rem;
    margin-right: 0.8rem;
  }

  .logo img {
    width: 250px;
  }

  header ul {
    display: flex;
    justify-content: space-between;
    width: 700px;
    margin-right: 1.5rem;
    align-items: flex-end;
  }

  li a {
    font-size: 1.1rem;
    padding: .2rem;
  } 

  #nav-bar ul:last-child {
    border-bottom: none;
  }

  ul li a:hover {
    padding: .2rem;
  }

  .container {
    margin-top: 330px;
  }

  #email {
    max-width: 700px;
  }

  #co-info {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }

  #co-info h2 {
    text-align: center;
  }
  
  #co-info > div {
    position: relative;
    border: 2px solid #F27405;
    border-radius: 6px;
    padding: .8rem;
    margin: 25px;
    text-align: justify;
    max-width: 400px;
  }

  #co-info div:before {
    content: " ";
    position: absolute;
    z-index: 1;
    top: -7px;
    left: -7px;
    right: -7px;
    bottom: -7px;
    border: 2px solid #68A69B;
    border-radius: 6px;
  }

}








