
 /*  
============================================
CSS RESET below
============================================
*/

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* This is the CSS RESET above */

/* ===== universal style ====== */

* {
  box-sizing: border-box;
}

body {
  border: 4px solid black;
  background-color: #ffffff;
  color: #0D0D0D;
  font: 300 16px/1.5 lato, "Helvetica Neue", Helvetica, sans-serif;
  margin: 18px auto;
  max-width: 960px;
}

/* ===== typography ===== */

h1, h3, h4 {
  margin-bottom: 10px;
}

h1 {
  font-size: 36px;
}

h3 {
  font-size: 22px; 
  font-weight: 400;
  text-transform: uppercase;
}
h4 {
  font-size: 18px;
}


/* ===== Header ===== */

header {
  border: 5px solid greenyellow;
  display: flex;
  flex-direction: row;
}

.logo {
  border: 3px solid orange;
  display: flex;
  flex-direction: column;
}

.logo h1 {
  border: 2px solid red;
  color: #003366;
  font-weight: 400;
  font-size: 48px;
  min-width: 40%;
  display: flex;
  flex-direction: row;
}

.logo a {
  border: 2px solid red;
  color: #003366;
  font-weight: 300;
  font-size: 16px;
}
 
.primary-nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 400px;
}

@media (max-width: 960px) {
  body {
    margin: 18px 8px 8px 8px;
  }
}

@media (max-width: 800px) {
  body {
    margin: 18px 8px 8px 8px;
  }
  
  .primary-nav ul,
  .footer-nav ul {
    display: flex;
    flex-direction: column;
    padding: 0 auto;
    text-align: center;
    width: 40vw;
  }
}

@media (max-width: 670px) {
  header,
  .logo h1,
  .logo a,
  .hero,
  .primary-nav ul {
    display: flex;
    flex-direction: column;
    padding: 0 auto;
    text-align: center;
    width: 100%;
  }
}

/* ===== hero ===== */
.hero {
  border: 5px solid brown;
  text-align: center;
}

/* ===== body ===== */

.grid {
  border: 6px solid orchid;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, minmax(150px, auto));
  grid-gap: 10px 10px;
  padding: 20px;
  text-align: center;
}

.grid div {
  border: 2px solid blue;
}

@media (max-width: 670px) {
  .grid {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, minmax(150px, auto));
  }
}

/* ===== footer ===== */

footer {
  border: 5px solid greenyellow;
}

footer small {
  border: 5px solid red;
  margin-left: 10px;

  }

.footer-nav ul {
  border: 5px solid red;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
 }



